<h1>login</h1>

<form action="login" method="POST">
    <div>
        <label for="email">E-mail:</label>
        <input type="email" id= "email" name = "email" required>

        <label for="senha">Senha:</label>
        <input type="senha" id= "senha" name = "senha" required>

        <button type="submit" >LogIn</button>

    </div>
</form>
<a href="/registrar">Registrar-se</a>